

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
  }


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    display: none;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    display: none;
  }

.swiper-button-next, .swiper-rtl .swiper-button-prev{
    display: none;
  }

  .fix-photo {
    flex-direction: column !important;
  }

  